@font-face {
	font-family: display;
	src: url('ShareTechMono-Regular.ttf');
}
body {
	background-color: white;
}

.container {
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
}

#display-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 80vmin min-content;
	align-content: center;
}

#display-timer {
	position: relative;
	border: 1px solid black;
	border-radius: 100%;
	width: 80vmin;
	height: 80vmin;
	margin: auto;
}

#display-timer :is(canvas, span)  {
	width: 100%;
	height: 100%;
}

#display-timer span {
	position: absolute;
	top:0;
	left:0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	font-family: display;
	user-select: none;
}

#display-controls {
	width: 80vmin;
	margin: auto;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 10px;
}

.icon {
	width: 30px;
	height: 30px;
	background-size: 100% 100%;
	background-color: transparent;
	border: none;
}

.play-icon {
	background-image: url("../images/play.svg");
}

.pause-icon {
	background-image: url("../images/pause.svg");
}

.reset-icon {
	background-image: url("../images/reset.svg");
}

.edit-icon {
	background-image: url("../images/edit.svg");
}

.clean-icon {
	background-image: url("../images/clean.svg");
}


#keyboard-container{
    display: none; /*flex*/;
    justify-content: center;
    align-items: center;
	flex-direction: column;
	gap: .6rem;
}

.small {
	width: auto;
}

#secondary-display {
	font-size: 1.75rem;
	flex-grow: 1;
	text-align: center;
}

.secondary-display-container {
	display: flex;
	width: auto;
	border: 1.2px solid hsl(0, 0%, 0%);
	border-radius: 6px;
	padding: 2.5px 5px;
	margin-bottom: 2.5px;
	justify-content: space-between;
	align-items: center;
}

#keyboard {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .4rem;
}

.number{
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    padding: 1.2rem;
    font-size: 32px;
	cursor: pointer;
}
